{{define "seo"}}
  <meta name="description" content="{{.MetaDescription}}">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  <link rel="icon" href="/static/favicon-16px.ico" sizes="16x16" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/static/favicon-32px.ico" sizes="32x32" type="image/vnd.microsoft.icon">
  <link rel="icon" href="/static/favicon-48px.ico" sizes="48x48" type="image/vnd.microsoft.icon">
  <link rel="canonical" href="{{.CanonicalURL}}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{.OgSiteName}}">
  <meta property="og:title" content="{{.OgTitle}}">
  <meta property="og:description" content="{{.MetaDescription}}">
  <meta property="og:url" content="{{.CanonicalURL}}">
  <meta property="og:image" content="{{.OgImageURL}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{.OgTitle}}">
  <meta name="twitter:description" content="{{.MetaDescription}}">
  <meta name="twitter:image" content="{{.OgImageURL}}">
{{end}}
